 <!-- content ================================================== -->
<section id="content-wrap" class="site-page">
	<div class="row">
		<div class="col-twelve">
			<%= render 'form', video: @video %>
		</div> <!-- end col-twelve -->
	</div> <!-- end row -->		
</section> <!-- end content -->