<div class="row">
  <div class="col-three">
    <p></p>
  </div>
  <div class="col-six">
    <section>  
      <div class="primary-content">
        <h3 class="entry-title add-bottom">Tell us what you want to see</h3> 
        <%= form_for VideoRequest.new, remote: true  do |form| %>
          <fieldset>
            <div id='flash_message'></div>
            <div class="message form-field">
              <%= form.text_field :description, id: :video_request_description, :class=> 'full-width', :placeholder=>"Type & press enter", autofocus: false  %>
            </div>
            <%#= form.submit 'Create', :class=>"submit button-primary full-width-on-mobile"%>
          </fieldset>
        <%end%> <!-- end form -->
      </div>
      <div class="col-three">
        <p></p>
      </div>
    </section>
  </div>
</div>
