<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @video_request.description %>
</p>

<%= link_to 'Edit', edit_video_request_path(@video_request) %> |
<%= link_to 'Back', video_requests_path %>
